@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  height: 100vh;
  background-color: #0D0D0D;
  color: #000;
  font-family: "NEXON Lv1 Gothic OTF";
}

#survey {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: 50px;
}

.main .test {
  max-width: 600px;
  height: 100vh;
}

.main .question_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  line-height: 1.3;
  padding-bottom: 30px;
}

.main .question_container .number {
  padding-bottom: 30px;
}

.main .question_container .question {
  font-family: "GmarketSansMedium";
}

.answer {
  font-size: 17px;
  line-height: 1.3;
  padding-bottom: 30px;
}

.answer .div {
  padding-bottom: 15px;
}

.answer .input {
  cursor: pointer;
}

.btn_wrap {
  display: flex;
  justify-content: center;
}

.btn_sort {
  justify-content: space-between;
}
@keyframes buttonAnimation1 {
  0%   {background-color: #F27777;}
  25%  {background-color: #F2E49B;}
  50%  {background-color: #1FBF92;}
  75%  {background-color: #140DD9;}
  100% {background-color: #F27777;}
}
@keyframes buttonAnimation2 {
  0%   {background-color: #F2E49B;}
  25%  {background-color: #1FBF92;}
  50%  {background-color: #140DD9;}
  75%  {background-color: #F27777;}
  100% {background-color: #F2E49B;}
}
@keyframes buttonAnimation4 {
  0%   {background-color: #1FBF92;}
  25%  {background-color: #140DD9;}
  50%  {background-color: #F27777;}
  75%  {background-color: #F2E49B;}
  100% {background-color: #1FBF92;}
}
@keyframes buttonAnimation3 {
  0%   {background-color: #140DD9;}
  25%  {background-color: #F27777;}
  50%  {background-color: #F2E49B;}
  75%  {background-color: #1FBF92;}
  100% {background-color: #140DD9;}
}
.test1_button {
  width: 400px;
  height: 400px;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "NEXON Lv1 Gothic OTF";
  background-color: #F27777;
  cursor: pointer;
  color: #0D0D0D;
  font-size: 30px;
  animation-name: buttonAnimation1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.test2_button {
  width: 400px;
  height: 400px;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "NEXON Lv1 Gothic OTF";
  background-color: #F2E49B;
  cursor: pointer;
  color: #0D0D0D;
  font-size: 30px;
  animation-name: buttonAnimation2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.test3_button {
  width: 400px;
  height: 400px;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "NEXON Lv1 Gothic OTF";
  background-color: #1FBF92;
  cursor: pointer;
  color: #0D0D0D;
  font-size: 30px;
  animation-name: buttonAnimation3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.test4_button {
  width: 400px;
  height: 400px;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "NEXON Lv1 Gothic OTF";
  background-color: #140DD9;
  cursor: pointer;
  color: #0D0D0D;
  font-size: 30px;
  animation-name: buttonAnimation4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.test1_button:hover
 {
  color: #ffffff;
  font-family: "NEXON Lv1 Gothic OTF";
}

.test2_button:hover
 {
  color: #ffffff;
  font-family: "NEXON Lv1 Gothic OTF";
}
.test3_button:hover
 {
  color: #ffffff;
  font-family: "NEXON Lv1 Gothic OTF";
}
.test4_button:hover
 {
  color: #ffffff;
  font-family: "NEXON Lv1 Gothic OTF";
}



h1.main-title {
  font-family: "GmarketSansMedium";
  color: #ffffff; /* 색상 */
  font-size: 60px;
}



