@font-face {
    font-family: 'GmarketSansMedium';  
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.testPage1 {
    background-color: #e994f4;
    color: #000;
    font-family: "NEXON Lv1 Gothic OTF";
    
}

.testPage1 .survey {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.testPage1 .test {
    max-width: 600px;
    height: 100vh;
}

.testPage1 .question_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    line-height: 1.3;
    padding-bottom: 30px;
    margin-top: 50px;
}

.testPage1 .question_container .number {
    padding-bottom: 30px;
}

.testPage1 .question_container .question {
    font-family: "GmarketSansMedium";
}

.testPage1 .answer {
    font-size: 17px;
    line-height: 1.3;
    padding-bottom: 30px;
}

.testPage1 .answer .div {
    padding-bottom: 15px;
}

.testPage1 .answer .input {
    cursor: pointer;
}

.testPage1 .btn_wrap {
    display: flex;
    justify-content: center;
}

.testPage1 .btn_sort {
    justify-content: space-between;
}

.testPage1 button, .testPage1 .submit_btn {
    width: 100px;
    height: 40px;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'NEXON Lv1 Gothic OTF';
    background-color: #7F47DD;
    cursor: pointer;
    color: #fff;
}

.testPage1 button:hover, .testPage1 .submit_btn:hover {
    background-color: #fff;
    color: #7F47DD
}
