@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.testPage2 {
  background-color: #D9D9D9;
  color: #000;
  font-family: "NEXON Lv1 Gothic OTF";
  min-height: 100vh;
  overflow: auto;
}

.testPage2 .survey {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.testPage2 .test {
  max-width: 600px;
  padding-top: 50px;
  margin-bottom: 2300px;
}

.testPage2 .question_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  line-height: 1.3;
  padding-bottom: 30px;
  margin-top: 50px;
}

.testPage2 .question_container .number {
  padding-bottom: 30px;
}

.testPage2 .question_container .question {
  font-family: "GmarketSansMedium";
}

.testPage2 .answer {
  font-size: 17px;
  line-height: 1.3;
  padding-bottom: 30px;
}

.testPage2 .answer .div {
  padding-bottom: 15px;
}

.testPage2 .answer .input {
  cursor: pointer;
}

.testPage2 .btn_wrap {
  display: flex;
  justify-content: center;
}

.testPage2 .btn_sort {
  justify-content: space-between;
}

/* .testPage2 .btn_wrap {
  display: flex;
  justify-content: center;
}

.testPage2 .btn_two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.testPage2 .next_btn,
.testPage2 .prev_btn,
.testPage2 .submit_btn {
  background-color: #24A61F;
  color: #fff;
  width: 100px;
  height: 50px;
}

.testPage2 .next_btn:hover,
.testPage2 .prev_btn:hover,
.testPage2 .submit_btn:hover {
  background-color: #fff;
  color: #24A61F;
}

.testPage2 button {
  width: 100px;
  height: 80px;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: "NEXON Lv1 Gothic OTF";
  background-color: #35F22E;
  cursor: pointer;
  color: #000;
}


.testPage2 button:hover {
  background-color: #000;
  color: #35F22E;
}

.answer button {
  display: block;
  margin-bottom: 10px;
  width: 600px;
  /* Add other styles as needed */
}

.answer .selected {
  background-color: #fff;
  color: #000;
}
